.header {

  .header__container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .header__logo {
      font-size: 40px;
      font-weight: 700;
      color: rgb(0, 0, 0);
      font-family:'Oswald', sans-serif;
    }

    .navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .navbar__link {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}
